/*  1. Remove the default margins */
/* 2. apply random bg colors */
/* 
let's explore FlexBox

1)
justify-content: center
align-items: center
2)
flex-wrap: wrap
3)
align-content: center
4)
flex-direction
flex-flow


*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}


.wrapper {
  max-width: 800px;
  margin: 100px auto;
}

.title-container {
  /* background-color: aqua; */
  height: 100px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  /* background-color: chartreuse; */
  width: 400px;
}

.nav-container {
  /* background-color: bisque; */
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#p5-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-menu {
  margin: 0 30px;
}

.flexbox-container {
  /* background-color: darkkhaki; */
  /* height: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center
}

.box {
  background-color: #EEE;
  width: 170px;
  height: 120px;

  margin: 10px;
}

.floating-box {
  background-color: aqua;

  width: 200px;
  height: 150px;

  position: absolute;
  /* position: fixed; */
  right: 150px;
  top: 150px;

  /* display: none; */
  /* visibility: hidden; */
}

#special-box {
  background-color: chocolate;
  /* visibility: hidden; */
  /* display: none; */
}